{%extends 'client/bases/base_client.html'%}

{%block title%}Editar Usuario{%endblock%}

{% block scripts %}
	{% load staticfiles %}
	 <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}" />
{% endblock %}

{%block subtitle%}Editar Password{%endblock%}

{%block content%}
<div class = "class_container_form" >

    <div class="collection">
        <a href="{% url 'client:edit' %}" class="collection-item">Perfil</a>
        <a href="{% url 'client:edit_password' %}" class="collection-item active">Password</a>
    <a href="{% url 'client:edit_social' %}" class="collection-item">Redes Sociales</a>
    </div>

<form method="post" action="">

    {% csrf_token %}
    {{form.as_p}}
    <input class="btn #9e9e9e grey" type="submit" value="Actualizar">

</form>
</div>
{%endblock%}